.git
.env
.phpunit.result.cache
node_modules
vendor
database/database.sqlite
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
